    <hudson.plugins.powershell.PowerShell plugin="powershell@%s">
      <command>%s</command>
      <configuredLocalRules/>
      <useProfile>true</useProfile>
      <stopOnError>true</stopOnError>
    </hudson.plugins.powershell.PowerShell>
