        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>%s</credentialsId>
          <variable>%s</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
