pipeline {
    agent %s
    options {
        timeout(time: 1, unit: 'HOURS')
        disableConcurrentBuilds(abortPrevious: true)
    }
    %s
    stages {
%s
%s
%s
    }
    post {
        always {
            archiveArtifacts artifacts: '.moderne/build/**/build.log'
            %s
        }
    }
}
